@import url("carousel.css");

@font-face {
  font-family: ACaslon;
  src: url("./ACaslonPro-Regular.otf") format("opentype");
  font-family: Springville;
  src: url("./Springville-Regular3.otf") format("opentype");
}

body {
  margin: 0;
  background: white;
}

.navbar {
  background: white;
  padding: 3vh 10vw;
  font-size: 11px;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.navlink {
  text-decoration: none;
  float: right;
  margin: 1vh 3vw 0vh 0vw;
  font-family: Arial;
  padding: 3px 0px;
  color: gray;
}

.logo {
  height: 5vh;
}

.hamburger {
  height: 2vh;
  float: right;
  margin: 1.1vh 0vw 0vh 0vw;
}

.footer {
  background: white;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 12vh;
  text-align: center;
  padding: 6vh 0vw 0vh 0vw;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
}

.footerlink {
  margin: 0vh 0.5vw;
  padding: 3px 0px;
  color: black;
}

.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  column-count: 3;
  column-gap: 1em;
  padding: 10vh 10vw 0vh 0vw;
  margin: 0vh 5vw;
}

.card {
  background-color: white;
  display: inline-block;
  margin: 0vh 0vw 5vh 5vw;
  width: 100%;
  border-bottom: 2px solid rgb(222, 222, 222);
}

.article-img {
  width: 100%
}

.article-date {
  font-family: Arial;
  font-size: 11px;
  color: gray;
  margin: 25px 5px;
}

.article-title {
  font-family: Springville;
  font-size: 3em;
  margin: 5px 10px;
  padding-right: 75px;
}

.article-author {
  font-family: ACaslon;
  font-size: 14px;
  margin: 30px 5px;
}

@media only screen and (max-width: 800px) {
  .container {
    column-count: 2;
    column-gap: 1em;
    padding: 10vh 10vw 0vh 0vw;
    margin: 0vh 2vw;
  }
  .navbar {
    padding: 2vh 7vw;
  }
  .hamburger {
    margin: 0.95vh 0vw 0vh 0vw;
  }
  .carousel-img {
    height:32vh;
    width:24vw;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 1vh 7vw;
    height: 50px;
  }
  .logo {
    height: 2vh;
    margin: 9px 0px;
  }
  .article-title {
    font-size: 2em;
    margin: 3px 5px;
    padding-right: 20px;
  }
  .hamburger {
    margin: 1.2vh 0vw 0vh 0vw;
  }
  .footer {
    font-size: 10px;
  }
  .carousel-img {
    height:16vh;
    width:12vw;
  }
}
